<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-3 col-12 mb-4 mb-md-0">
        <div class="footer-brand">
          <a class="navbar-brand text-dark" href="/index.html">MathIntuit</a>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-4 mb-md-0">
        <div class="about-terms-policy-support">
          <ul class="footer-link d-flex flex-column gap-3">
            <li><a href="/about.html">About project</a></li>
            <li><a href="/terms-of-service">Terms of service</a></li>
            <li><a href="/privacy-policy">Privacy and policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-4 mb-md-0">
        <div class="footer-resources">
          <ul class="footer-link d-flex flex-column gap-3">
            <li>
              <a href="/calculator/calculatorSuite.html">Calculator</a>
            </li>
            <li>
              <a href="/mathresources/index-resources.html?topic=algebra"
                >Math Resources</a
              >
            </li>
            <li>
              <a href="/mathquiz/quiz.html">Practice math quiz</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-lg-4 mb-md-0">
        <div class="social-media">
          <!-- Add social media links here -->
          <!-- <a
              href="https://facebook.com"
              class="btn btn-primary"
              role="button"
              >Facebook</a
            > -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="copyright fs-6">
          &copy; 2024 MathIntuit, B.Tech Mathematics undergraduate final year
          project
        </div>
      </div>
    </div>
  </div>
</footer>
