<!-- Get Started -->
<div class="create-account">
  <div class="py-5">
    <div class="container">
      <div class="row text-center gap-3 gap-lg-5 mx-auto">
        <div class="d-flex flex-column text-white">
          <h2 class="display-6 display-lg-5 fw-bolder text-white">
            Get started using MathIntuit today
          </h2>
          <p class="lead fs-6 fs-lg-5">
            Create a free account to save your progress at any time and get
            access to different customizable math resources to share with others
          </p>
        </div>
        <div class="mx-auto justify-content-center d-flex">
          <a
            href="/login_signup/auth.html"
            type="button"
            class="btn btn-primary text-purple btn-lg border fs-6 px-5 py-3 rounded-pill create-account-btn"
          >
            Create an Account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
