<!-- Header and Nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/index.html">MathIntuit</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 m-auto gap-4 fs-5 d-inline-flex"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded=""
          >
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=algebra"
                >Algebra</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=geometry"
                >Geometry</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=trigonometry"
                >Trigonometry</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=calculus"
                >Calculus and Analysis</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=specialFunctions"
                >Special functions</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="/mathresources/index-resources.html?topic=appliedMath"
                >Applied Mathematics</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Calculator
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="./calculator.html"
                >Graphing Calculator</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Algebra</a></li>
            <li><a class="dropdown-item" href="#">Geometry</a></li>
            <li>
              <a class="dropdown-item" href="#">Scientific Calculator</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="/calculator/calculatorSuite.html"
            tabindex="-1"
            >Calculator</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html" tabindex="-1">About Project</a>
        </li>
        <li class="nav-item flex-end">
          <a class="nav-link" href="/mathquiz/quiz.html" tabindex="-1"
            >Practice Quiz</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <a
          href="/login_signup/auth.html"
          type="button"
          class="btn btn-outline-secondary px-4 py-2"
        >
          Sign-In
        </a>
      </form>
    </div>
  </div>
</nav>
